@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Varela+Round&display=swap');
@import 'tailwindcss';

@theme {
  --font-title: 'Outfit', sans-serif;
  --font-base: 'Varela Rounded' sans-serif;
}

@layer base {
  h1 {
    font-family: var(--font-title);
    font-size: 50px;
    line-height: 70px;
    font-weight: 800;
  }

  h2 {
    font-family: var(--font-title);
    font-size: 42px;
    line-height: 56px;
    font-weight: 800;
  }

  h3 {
    font-family: var(--font-title);
    font-size: 38px;
    line-height: 42px;
    font-weight: 800;
  }

  h4 {
    font-family: var(--font-title);
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
  }

  h5 {
    font-family: var(--font-title);
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
  }

  h6 {
    font-family: var(--font-title);
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
  }

  body {
    font-family: var(--font-base);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em;
    @apply bg-slate-900
  }

  button {
    @apply flex cursor-pointer items-center justify-center gap-2.5 rounded-full bg-blue-400 px-10 py-2.5 text-white duration-200;
  }

  button:hover {
    @apply text-white bg-blue-950;
  }
}
